form {
  padding: auto;
  padding-top: 30px;
  position: relative;
}

.searchForm {
  display: flex;
  gap: 10px;
}

.searchForm > input {
  outline: none;
  border: none; 
  border-bottom: 4px solid black;
  box-shadow: none;
  box-sizing: border-box;
  width: 280px;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  position: relative;
  background: transparent; 
  color: black;
  font-weight: bold;
}

.searchForm > input::placeholder {
  color: black;
}

.icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
}